@import url("./assets/fonts/fonts.scss");

:root {
    --base-font: "Montserrat";
    --second-font: "DM Sans";

    --base-color: #000;
    --second-color: #FFF;
    --green-color: #7D9B8F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scrollbar-gutter: stable;
}

body {
    font-family: var(--base-font);
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container {
    max-width: 1224px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
